<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isoftstone.study.mapper.UserMapper">
	<resultMap type="com.isoftstone.study.domain.User" id="userMap">
		<id column="id" property="id" typeHandler="com.isoftstone.study.handler.UUIDTypeHandler" />
		<result column="name" property="name" />
		<result column="pass" property="pass" />
		<result column="email" property="email" />
		<result column="actived" property="actived" />
		<result column="age" property="age" />
		<result column="org_id" property="orgId" />
	</resultMap>
	<parameterMap type="com.isoftstone.study.domain.ApiAdd" id="apiAddMap">
		<parameter property="add1" jdbcType="INTEGER" mode="IN"/>  
		<parameter property="add2" jdbcType="INTEGER" mode="IN"/>  
		<parameter property="s" jdbcType="INTEGER" mode="OUT"/>
	</parameterMap>
	<sql id="allField">id, name, pass, email, actived, age, org_id</sql>
	
	<insert id="insertUser">
		INSERT INTO
		user(<include refid="allField" />)
		VALUES(#{id}, #{name}, #{pass}, #{email}, #{actived}, #{age}, #{orgId})
	</insert>
	<insert id="insertUsers">
		INSERT INTO user (<include refid="allField" />)
		VALUES
		<foreach collection="users" item="item" index="index"
			separator=",">
			(#{item.id}, #{item.name}, #{item.pass}, #{item.email}, #{item.actived}, #{item.age}, #{item.orgId})
		</foreach>
	</insert>
	<update id="updateUser">  
		update user 
		<set>
			name = #{name},
			pass = #{pass},
			email = #{email},
			actived = #{actived},
			age = #{age},
			org_id = #{orgId},
		</set>
		where id = #{id}
	</update> 
	<delete id="deletetUser">
		delete from user where id = #{id}
	</delete>

	<select id="getUserById" resultMap="userMap" parameterType="java.util.UUID">
		select
		<include refid="allField" />
		FROM user
		where id = #{id}
	</select>
	<select id="queryUsers" resultMap="userMap">
		select
		<include refid="allField" />
		FROM user
		<where>
			<if test="name != null">
				and name = #{name}
			</if>
			<if test="email != null">
				and email = #{email}
			</if>
		</where>
	</select>
	<select id="queryUsersByIds" resultMap="userMap">
		select
		<include refid="allField" />
		FROM user
		<where>
			<if test="list != null and list.size() > 0">
				id in
				<foreach item="item" index="index" collection="list" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
	<select id="queryUsersByUsers" resultMap="userMap">
		select
		<include refid="allField" />
		FROM user
		<where>
			<if test="users != null and users.size() > 0">
				(name, email) in
				<foreach item="user" collection="users" open="(" separator=","
					close=")">
					(#{user.name},#{user.email})
				</foreach>
			</if>
		</where>
	</select>
	<select id="queryUsersGroupByStatus" resultMap="userMap">
		select
		<include refid="allField" />
		FROM user
		where actived
		<choose>
			<when test="group == 1"> = #{group}</when>
			<when test="group == 0"> = #{group}</when>
			<otherwise>is null</otherwise>
		</choose>
	</select>
	<select id="apiAdd" parameterMap="apiAddMap" statementType="CALLABLE">  
		{call api_add(#{add1}, #{add2}, #{s,jdbcType=INTEGER,mode=OUT})}
	</select>
	<update id="apiAdd1" parameterMap="apiAddMap" statementType="CALLABLE">  
		{call api_add(#{add1}, #{add2}, #{s,jdbcType=INTEGER,mode=OUT})}
	</update> 
	<select id="queryUsersByOrg" resultMap="userMap">
		select
		<include refid="allField" />
		FROM user
		where org_id = #{orgId}
	</select>
</mapper>
